body{
background:rgb(13, 139, 76);
} 




.v1{
border: 1px solid rgb(190, 11, 11);
background:rgba(33, 19, 155, 0.61);
padding-left: 40px;
width: 400px;
}

.v2{
border: 1px solid rgb(182, 7, 7);
background:rgb(67, 32, 163);
padding-right: 40px;
width: 400px;
}